.cakes {
  .container {
    padding-top: 109px;
    padding-bottom: 101px;
  }

  &__body {
    display: flex;
    justify-content: space-between;
  }

  &__col {
    flex: 0 0 50%;

    &:first-child {
      padding-left: 62px;
      padding-right: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__title {
    margin-bottom: 12px;
  }

  &__subtitle {
    margin-bottom: 53px;
  }

  &__text {
    padding-left: 11px;
    font-family: "ProximaNovaRegular", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.4px;
    margin-bottom: 34px;
    text-align: justify;
  }

  &__galery {
    display: inline-flex;
    flex-wrap: wrap;
    position: relative;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  &__galery-item {
    flex: 1 1 50%;
    margin-bottom: 20px;

    &:nth-child(even) {
      text-align: right;
    }
  }

  &__galery-img {
    outline-offset: -11px;
    outline: 5px solid rgba(255, 255, 255, 1);
  }

  &__galery-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-139px, -130px);
    width: 279px;
    height: 279px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 91px;
    background-image: url("../img/art-icon-bg.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    color: #c9b176;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
  }
}
