.cakes {
  .container {
    padding-top: 105px;
    padding-right: 15px;
    padding-bottom: 112px;
  }

  &__body {
    display: flex;
    justify-content: space-between;
  }

  &__col {
    flex: 1 1 50%;

    &:first-child {
      padding-left: 70px;
      padding-right: 70px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &:last-child {
      padding-left: 10px;
    }
  }

  &__title {
    margin-bottom: 15px;
  }

  &__subtitle {
    margin-bottom: 70px;
  }

  &__text {
    font-family: "Proxima Nova", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.4px;
    margin-bottom: 40px;
  }

  &__galery {
    display: inline-flex;
    flex-wrap: wrap;
    position: relative;
  }

  &__galery-item {
    flex: 1 1 50%;
    margin-bottom: 20px;

    &:nth-child(even) {
      text-align: right;
    }
  }

  &__galery-img {
    outline-offset: -11px;
    outline: 5px solid rgba(255, 255, 255, 1);
  }

  &__galery-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 247px;
    height: 247px;
    background-image: url("../img/art-icon-bg.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    color: #c9b176;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}
