.main-footer {
  & .container {
    padding-top: 97px;
    padding-bottom: 70px;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav-list {
    @include list-reset;
    flex: 0 0 515px;
    padding-top: 19px;
    padding-bottom: 20px;
    border-top: 1px solid #c2beba;
    border-bottom: 1px solid #c2beba;
    display: flex;
    justify-content: space-around;

    & li {
      position: relative;
      padding-left: 47px;

      &::before {
        content: "~";
        position: absolute;
        left: 0;
        top: 0;
        color: #747166;
      }

      &:first-child {
        padding-left: 0;

        &::before {
          display: none;
        }
      }
    }
  }


  &__nav-link {
    color: #56534c;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 4.2px;
    text-decoration: none;
  }

  &__logo-link {
    color: #56534c;
    font-family: "Scriptina", "Arial", sans-serif;
    font-size: 30px;
    line-height: 24px;
    letter-spacing: 9px;
    text-decoration: none;
  }
}
