.main-header {
  background-color: $bg-header-color;
  background-image: radial-gradient(circle 457px at center, #564f4c 0%, rgba(86, 83, 76, 0) 100%), url("../img/bg-header.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  position: relative;

  &__top {
    background-color: rgba($text-color, 0.3);

    & .container {
      min-height: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__logo-link {
    font-family: "Scriptina", "Arial", sans-serif;
    font-size: 30px;
    line-height: 24px;
    font-weight: 400;
    color: $white-color;
    letter-spacing: 9px;
  }

  &__content {
    padding-top: 202px;

    & .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__lead {
    text-shadow: 0 1px 0 #3d3029;
    color: $header-text-color;
    font-family: "PlayfairDisplay", "Times New Roman", serif;
    font-size: 92px;
    line-height: 92px;
    letter-spacing: 6.9px;
    margin-bottom: 136px;
  }

  &__sublead {
    max-width: 550px;
    text-shadow: 0 1px 0 #3d3029;
    color: $header-text-color;
    font-family: "ProximaNovaRegular", "Arial", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 2.4px;
    text-align: center;
    margin-bottom: 63px;
  }

  &__link {
    display: inline-block;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 14px;
    padding-bottom: 11px;
    color: $header-text-color;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 4.2px;
    text-decoration: none;
    border: 1px dashed #9e9c93;
    background-color: #56534c;
    margin-bottom: 214px;
  }

  &__icon-bread {
    position: absolute;
    width: 106px;
    height: 106px;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 53px);

    &::before {
      position: absolute;
      content: "";
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-color: $white-color;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
    }

    &::after {
      position: absolute;
      content: "";
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 3px);
      width: 106px;
      height: 106px;
      background-image: url("../img/header-icon.png");
      background-position: 0 0;
      background-repeat: no-repeat;
      z-index: 2;
    }
  }

  &__burger {
    display: none;
  }

  @media (max-width: 1089.98px) {
    &__top {
      & .container {
        min-height: auto;
        flex-direction: column;
      }
    }

    &__logo-link {
      font-size: 40px;
      margin-bottom: 40px;
    }

    &__content {
      padding-top: 80px;
    }

    &__lead {
      margin-bottom: 82px;
    }

    &__sublead {
      margin-bottom: 60px;
    }

    &__link {
      margin-bottom: 114px;
    }
  }

  @media (max-width: 829.98px) {
    height: 100vh;

    &__burger {
      display: block;
      width: 30px;
      height: 20px;
      z-index: 3;
      background-color: transparent;
      position: absolute;
      top: 15px;
      right: 15px;
      border: none;
      padding: 0;
      cursor: pointer;

      & span {
        background-color: #ffffff;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
      }

      &::before,
      &::after {
        content: "";
        background-color: #ffffff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }

      &.active span {
        transform: scale(0);
      }

      &.active::before {
        transform: rotate(45deg);
        top: 9px;
      }

      &.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
      }
    }

    &__top {
      & .container {
        min-height: 70px;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
      }
    }

    &__logo-link {
      margin-bottom: 0;
      line-height: 1.2;
    }

    &__content {
      padding-top: 30px;
    }

    &__lead {
      font-size: 48px;
      line-height: 1.2;
      letter-spacing: 2.9px;
      margin-bottom: 36px;
      text-align: center;
    }

    &__sublead {
      font-size: 18px;
      line-height: 1.2;
      letter-spacing: 1.4px;
      margin-bottom: 43px;
    }

    &__link {
      margin-bottom: 0;
    }
  }
}
