.main-header-social {
  &__list {
    @include list-reset;
    display: flex;
    justify-content: space-between;

    li {
      margin-left: 28px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &__link:focus {
    outline: none;
  }

  &__link:hover svg,
  &__link:focus svg {
    fill: #a47d5e;
    transition: all 0.3s ease 0s;
  }


  @media (max-width: 1089.98px) {
    &__list {
      li a {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  @media (max-width: 829.98px) {
    &__list {
      @include list-reset;
      display: inline-flex;
      justify-content: space-between;

      li {
        margin-left: 28px;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}
