.pancakes {
  background-image: url("../img/bg-pancakes.jpg");
  background-repeat: no-repeat;

  .container {
    padding-top: 140px;
    padding-bottom: 111px;
    padding-left: 93px;
    padding-right: 200px;
  }

  &__row {
    display: flex;
    background-color: $white-color;
  }

  &__col {
    &:first-child {
      flex: 0 0 418px;
    }

    &:last-child {
      background-image: url("../img/pancakes-item-bg.png");
      background-repeat: no-repeat;
      background-position: bottom right;
    }
  }

  &__img {}

  &__body {
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 63px;
    padding-right: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__subtitle {
    margin-bottom: 70px;
  }

  &__text {
    margin-bottom: 105px;
    font-family: "Proxima Nova", "Arial", sans-serif;
    color: #56534c;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.4px;
  }

  &__slider {
    display: none;
  }
}
