.pancakes {
  background-image: url("../img/bg-pancakes.jpg");
  background-repeat: no-repeat;
  background-position: center 0;

  .container {
    padding-top: 140px;
    padding-bottom: 108px;
    padding-left: 95px;
    padding-right: 200px;
  }

  &__row {
    display: flex;
  }

  &__col {
    &:first-child {
      flex: 0 0 418px;
      background-image: url("../../img/pancakes-01.png");
    }

    &:last-child {
      min-width: 0;
      background-color: $white-color;
      background-image: url("../img/pancakes-item-bg.png");
      background-repeat: no-repeat;
      background-position: 286px 216px;
      box-shadow: -2px 0 0 rgba(0, 0, 0, 0.76);
    }
  }

  &__body {
    padding-top: 84px;
    padding-bottom: 31px;
    padding-left: 63px;
    padding-right: 60px;
    position: relative;
  }

  &__title {
    margin-bottom: 11px;
    text-align: left;
  }

  &__subtitle {
    margin-bottom: 52px;
    display: inline-block;
  }

  &__text {
    margin-bottom: 101px;
    font-family: "ProximaNovaRegular", "Arial", sans-serif;
    color: #56534c;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.4px;
  }

  &__time {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    right: 0;
    padding-top: 26px;
    background: $white-color;
    background-image: url("../img/sanwich__gallery-time.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    transform: translate(105px, -43px);
    box-shadow: 0 25px 54px rgba(105, 80, 58, 0.45);

    & span:first-child {
      color: #a47d5e;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1.8px;
      margin-bottom: 35px;
    }

    & b {
      color: #dfc691;
      font-size: 92px;
      letter-spacing: 9.2px;
      margin-bottom: 25px;
    }

    & span:last-child {
      color: #979285;
      letter-spacing: 1.8px;
    }
  }

  &__btn {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: 0;
    top: 50%;
    transform: translate(-22px, -50%);
    border: none;
    padding: 0;
    box-shadow: -2px 0 0 rgba(0, 0, 0, 0.76);
    background-color: #ffffff;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 9px;
      height: 16px;
      // background-color: #d8bba3;
      background-image: url("../../img/svgmin/menu.svg");
      background-repeat: no-repeat;
      transform: translate(-5px, -50%);
    }
  }
}
