@font-face {
  font-family: "Alegreya";
  src: url("../../fonts/AlegreyaRegular.woff2") format("woff2"),
    url("../../fonts/AlegreyaRegular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Alegreya";
  src: url("../../fonts/AlegreyaBold.woff2") format("woff2"),
    url("../../fonts/AlegreyaBold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url("../../fonts/PlayfairDisplay-Bold.woff2") format("woff2"),
    url("../../fonts/PlayfairDisplay-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "ProximaNovaRegular";
  src: url("../../fonts/ProximaNovaRegular.woff2") format("woff2"),
    url("../../fonts/ProximaNovaRegular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Scriptina";
  src: url("../../fonts/scriptina.woff2") format("woff2"),
    url("../../fonts/scriptina.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
