* {
  @include ma-pa-reset;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: "Alegreya", "Times New Roman", serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: $text-color;
  letter-spacing: 1.5px;
  height: 100%;
  width: 100%;
  background-color: $white-color;
}

main,
nav,
footer,
header,
aside {
  display: block;
}

button {
  cursor: pointer;
}

img {
  vertical-align: top;
  border-style: none;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1290px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.content {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.section-title {
  color: #56534c;
  font-size: 48px;
  letter-spacing: 1.2px;
  text-align: center;
}

.section-subtitle {
  color: #a47d5e;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  text-align: center;
}

body.lock {
  overflow: hidden;
}
