$white-color: #ffffff;
// $black-color: #000000;
$text-color: #56534c;
$header-text-color: #ffffff;
$art-text-color: #56534c;
$art-subtitle-color: #a47d5e;
$art-lead-color: #c9b176;
$art-review-color: #a47d5e;
$pancakes-text-color: #56534c;
$pancakes-subtitle-color: #a47d5e;
$pancakes-date-color: #dfc691;
$breakfast-text-color: #56534c;
$breakfast-alt-text-color: #c2beba;
$breakfast-title-color: #ffffff;
$breakfast-subtitle-color: #a47d5e;
$breakfast-price-color: #dfc691;
$sandwich-text-color: #56534c;
$sandwich-title-color: #56534c;
$sandwich-subtitle-color: #a47d5e;
$sandwich-item-title-color: #56534c;
$sandwich-date-color: #dfc691;
$footer-text-color: #56534c;

$bg-header-color: #9e9c93;
$bg-breakfast-color: #464958;

// $mobile-width: 320px;
// $tablet-width: 744px;
// $desktop-width: 1200px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
