@import "global/_normalize";
@import "global/_visually-hidden";
@import "global/_fonts";
@import "global/_variables";
@import "global/_mixins";
@import "global/_global";
// @import "libs/bootstrap/_bootstrap-grid";
// @import "libs/bootstrap/_bootstrap";
// @import "libs/bootstrap/bootstrap-reboot";
// @import "libs/owlcarousel/_owl.carousel";
// @import "libs/owlcarousel/_owl.theme.default";
// @import "libs/owlcarousel/_resetOwlCarousel";
// @import "libs/slick/_slick";
// @import "libs/slick/_slick-theme";
// @import "libs/slick/_resetSlick";
// @import "libs/twentytwenty/_twentytwenty";
@import "blocks/_main-header";
@import "blocks/_main-header-navigation";
@import "blocks/_main-header-social";
@import "blocks/_cakes";
@import "blocks/_reviews";
@import "blocks/_pancakes";
@import "blocks/_pancakes-slider";

// @import "libs/animate/_animate";


.breakfast {
  background-color: $bg-breakfast-color;
  background-image: url("../img/bg-breakfast.jpg");
  background-repeat: no-repeat;

  .container {
    padding-left: 202px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    padding-top: 89px;
    padding-bottom: 71px;
  }

  &__col {
    &:first-child {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &:last-child {
      flex: 0 0 440px;
    }
  }

  &__title {
    color: $white-color;
  }

  &__subtitle {
    margin-bottom: 60px;
  }

  &__price {}

  &__price-list {
    @include list-reset;
    display: flex;
    flex-direction: column;
  }

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      background-image: url("../img/breakfast-icon.png");
      background-position: 0 0;
      background-repeat: no-repeat;
      bottom: 12px;
      left: 50%;
      width: 90px;
      height: 27px;
      transform: translateX(-50%);
    }

    &:last-child {
      padding-bottom: 0;

      &::after {
        display: none;
      }
    }
  }

  &__price-title {
    color: #ffffff;
    font-size: 30px;
    font-family: "Proxima Nova", "Times New Roman", serif;
    letter-spacing: 1.5px;
    text-align: center;
    margin-bottom: 15px;
  }

  &__price-text {
    color: #c2beba;
    font-weight: 700;
    letter-spacing: 0.8px;
    margin-bottom: 20px;
  }

  &__price-count {
    color: #dfc691;
    font-size: 36px;
    letter-spacing: 1.8px;
  }

  &__article {
    position: relative;

    // &::after,
    // &::before {
    //   content: "";
    //   position: absolute;
    // }

    // &::before {
    //   bottom: 0;
    //   left: 0;
    //   border-left: -30px solid transparent;
    //   border-right: 30px solid transparent;
    //   border-bottom: 30px solid #3a3d4b;
    // }

    // &::after {
    //   bottom: 0;
    //   left: 0;
    // width: 30px;
    // height: 30px;
    // background-color: transparent;
    //   border-left: 30px solid transparent;
    //   border-right: -30px solid transparent;
    //   border-top: 30px solid white;
    //   box-shadow: 3px 0 6px rgba(0, 0, 0, 0.87);
    // }
  }
}

.breakfast-article {
  background-color: $white-color;
  background-image: url("../img/breakfast-text-bg.png");
  background-position: 250px 500px;
  background-repeat: no-repeat;
  outline-offset: -10px;
  outline: 1px dashed #9e9c93;
  padding-left: 37px;
  padding-right: 36px;
  padding-top: 50px;
  padding-bottom: 66px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 7px 0 5px rgba(0, 0, 0, 0.8);

  &__head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 150px;
    position: relative;

    span {
      color: #56534c;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.7px;
    }

    &::after {
      position: absolute;
      content: "";
      width: 367px;
      height: 60px;
      background-image: url("../img/breakfast-title-bg.png");
      background-position: 0 0;
      background-repeat: no-repeat;
      top: 28px;
      left: 0;
    }
  }

  &__title {
    color: #56534c;
    font-size: 44px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.1px;
    text-align: center;
    margin-bottom: 40px;
  }

  &__text {
    color: #56534c;
    font-family: "Proxima Nova", "Arial", sans-serif;
    font-size: 14px;
    letter-spacing: 0.7px;
    text-align: center;
    margin-bottom: 55px;
  }

  &__link {
    display: inline-block;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 9px;
    padding-bottom: 9px;
    color: #a47d5e;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.9px;
    text-decoration: none;
    border: 1px solid #9e9c93;
    background-color: transparent;
  }
}
