$white-color: #ffffff;
$black-color: #000000;
$bg-header-color: #ffffff;
$bg-footer-color: #ffffff;
$text-color: #56534c;
// $placeholder-color: #959595;
$active-color: #a47d5e;
$lead-color: #c9b176;
$time-color: #dfc691;
$miutes-color: #979285;
$breakfast-heading-color: #c8a593;
$breakfast-descr-color: #c2beba;
// $hover-color: rgba(#64c29e, 0.8);
// $link-color: #4d4959;

$fontfamily: "Alegreya", "Webdings", serif;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$minwidth: 320px;
$mw: 1290;
$md1: $mw + 15;
$md2: 1029.98;
$md3: 879.98;
$md4: 789.98;
$md5: 589.98;
